In [ ]:
#List

L1=[1,2,3,4,5,6,7]

print(type(L1))

<class 'list'>

In [ ]:
L2=('math','phy',2002,2003)
L2

('math', 'phy', 2002, 2003)

In [ ]:
print(L1)
print(L2)

[1, 2, 3, 4, 5, 6, 7]
('math', 'phy', 2002, 2003)

In [ ]:
#Sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[2]=3
print("List L1 setelah diganti elemennya:", L1)

L1=[1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diinjinkan Duplikasi
L1= [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi paada List L1:",L1)

Memanggil List L1 dengan indeks urutan: [1, 2, 3]
List L1 setelah diganti elemennya: [1, 2, 3, 4, 5, 6, 7]
Slicing List L1: (2+3j)
Duplikasi paada List L1: [1, 'dua', True, (2+3j), (2+3j)]

In [1]:
#Tuple

T1=(2, "empat", True, 2+4j)
print("ini adalah tuple", T1)

ini adalah tuple (2, 'empat', True, (2+4j))

In [2]:
type(T1)

tuple

In [3]:
#Menggabungkan Tuple

T2=(3,7, True, 7)
T2

(3, 7, True, 7)

In [4]:
T3=T1+T2
T3

(2, 'empat', True, (2+4j), 3, 7, True, 7)